body {
    background-color: lightgray;
}

.navbar-brand {
    background-color: rgb(124, 209, 124);
    padding: 5px;
}

.container {
    background-color: white;
    padding: 50px;
    margin-top: 20px;
}