body {
    background-color: lightgray;
}

.navbar-brand {
    background-color: lightgreen;
    padding: 5px;
}

.container {
    background-color: white;
    padding: 50px;
    margin-top: 20px;
}

h1 {
    color: lightgreen;
    margin-bottom: 30px;
}