body {
    background-color: lightgray;
}


.navbar-brand {
    background-color: tomato;
    padding: 5px;
}

.container {
    padding: 100px 100px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
}

h1 {
    color: tomato;
    padding-bottom: 20px;
}

.col-md {
    line-height: 1.5;
    padding-bottom: 20px;
}


img {
    width: 200px;
    padding-bottom: 20px;
    float: left;
    margin-right: 20px;
    
}
