.container-fluid {
    text-align: center;
    background-color: azure;
}

.welcome-header {
    text-align: center;
}

.portfolio-header {
    text-align: center;
}

.main-links {
    text-align: center;
}

.project-deploy{
    width: 225px;
    height: 225px;
    font-size: 32px;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.github-btn {
    margin-bottom: 1rem;
}
