body {
    background-color: lightgray;
}

.navbar-brand {
    background-color: tomato;
    padding: 5px;
}

.container {
    padding: 50px;
    margin-top: 20px;
    background-color: white;
}

h1 {
    color: tomato;
    margin-bottom: 30px;
}

.col-md {
    line-height: 1.5;

}

img {
    width: 200px;
    float: left;
    margin-right: 20px;
}

p {
    
}

.container-2 {
    margin-top: 150px;
}

footer {
    color: navy;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}