body {
    background-color: lightgray;
}

.navbar-brand {
    background-color: gold;
    padding: 5px;
}

.container-fluid {
    padding: 50px;
    margin-top: 20px;
    background-color: white;
}

h1 {
    color: gold;
    margin-bottom: 30px;
}
/* image placeholders  */
.col-md-6 {
    margin-top: 50px;
}

/* footer {
    color: navy;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
} */