body {
    background-color: lightgray;
}

.navbar-brand {
    background-color: skyblue;
    padding: 5px;
}

.container {
    padding: 50px;
    margin-top: 20px;
    background-color: white;
}

h1 {
    color: skyblue;
    margin-bottom: 30px;
}