body {
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* filter: contrast(200%); */
    /* background-color: rgb(144, 160, 142); */
}

.container-xxl {
    text-align: center;
    margin-bottom: 50px;
}

/* ** HOME **  */
.welcome-header {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.welcome-text {
    color: whitesmoke;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3rem;
}

/* @media only screen and (max-width: 428px) {
   
} */

/* Welcome text */
/* .line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 3rem;
    font-family: 'Tenor Sans', sans-serif;
    color: whitesmoke;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
} */

/* Animation */
/* .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
} */

/* start nav  */
.nav-links {
    text-align: center;
}

@media only screen and (max-width: 428px) {
    .nav-btn {
        width: 50%;
        margin-bottom: 1rem;
    }
}

.nav-btn {
    font-size: 20px;
    background-color: whitesmoke;
    padding: 5px;
    margin-bottom: 1rem;
    border-radius: .5rem;
    font-family: 'Tenor Sans', sans-serif;
    opacity: 90%;
}

.nav-btn:hover {
    /* background-color: rgb(184, 248, 184); */
    background-color: rgb(255, 252, 155);
}

.nav-anchor {
    margin-left: 10px;
}
/* end nav  */

/* start portfolio  */
.portfolio-header {
    text-align: center;
    margin-top: 5rem;
}

.portfolio-head-text {
    font-family: 'Tenor Sans', sans-serif;
    filter: contrast(300%);
    color: whitesmoke;
}

.project-content {
    /* background-color: rgb(210, 210, 210); */
    max-width: 90%;
}

.project-title {
    font-family: 'Tenor Sans', sans-serif;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.project-description {
    font-family: 'Tenor Sans', sans-serif;
    height: 200px;
    overflow: scroll;
    margin-bottom: 2rem;
}

.line-break {
    margin-bottom: 5rem;
}

.project-card {
    /* display: block; */
    height: 35rem;
    max-width: 30rem;
    padding: 15px;
    border-radius: 1rem;
    background-color: whitesmoke;
    opacity: 90%;
}

.project-deploy{
    background-color: rgb(36, 145, 116);
    /* background-color: rgb(184, 248, 184); */
    border-radius: 2rem;
    width: 200px;
    height: 200px;
    font-size: 32px;
    margin-bottom: 1rem;
    font-family: 'Tenor Sans', sans-serif;
    transition: all 0.5s;
}

.project-deploy:hover {
    padding-bottom: 25px;
}

.page-text {
    font-family: 'Tenor Sans', sans-serif;  
}

.github-btn {
    margin-bottom: 2rem;
}
/* end portfolio  */

/* ** CONTACT **  */
.contact-header {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: whitesmoke;
}

.contact-text {
    font-family: 'Tenor Sans', sans-serif;
}

.head {
    font-weight: bold;
}

.contact-card {
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 1rem;
    width: 30rem;
    background-color: whitesmoke;
    opacity: 90%;
}

.info {
    font-size: 2rem;
}

@media only screen and (max-width: 428px) {
    .info {
        font-size: 1.5em;
    }
    .contact-card {
        width: 90%;
    }
}

